NEXT_PUBLIC_SUPABASE_URL=https://<project-ref>.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

RESEND_API_KEY=
NEXT_PUBLIC_SITE_URL=

CONTACT_SENDER_EMAIL=ventas@synova.cl
CONTACT_REPLY_TO_EMAIL=ventas.synova@gmail.com
CONTACT_NOTIFICATION_EMAIL=ventas.synova@gmail.com